.snowforms {
  input {
    padding: 0.5rem 1rem !important;
    width: 100%;
  }

  h3 {
    margin: 0 !important;
    font-weight: bold !important;
  }

  button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem !important;
    background-color: white;
    border: solid 1px grey;
    border-radius: 0.5rem;
  }
}
