.form-editor {
  display: flex;
  font-size: 1rem;
}

.form-controls {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 2rem;

  &__button {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
}

.form-container {
  label {
    display: block;
  }
}

.form__label {
  display: block;
  font-weight: bold;
}

.form__field {
  margin-bottom: 1rem;
  &:hover {
    outline: dashed 1px black;
    outline-offset: 0.5rem;
  }
}
