// Hero Full
[data-type='snow-blocks/hero'] .hero.hero--full {
  textarea,
  textarea::placeholder {
    color: var(--white);
    background: none;
  }

  .hero__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }
}
