.hero__container {
  position: relative;
}

.hero__upload {
  border: dashed 2px grey;
  padding: 4rem;
  text-align: center;
}

// Hero Full
.hero.hero--full {
  .hero__container {
    padding: 10rem 4rem;
    z-index: 1;
  }

  .hero__title {
    color: var(--white);
    margin: 0;
  }

  .hero__description {
    margin: 0;
    color: var(--white);
  }

  .hero__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }

  .hero__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: rgba($color: #000000, $alpha: 0.4);
      content: '';
      z-index: 2;
    }
  }

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero__button {
    margin-top: 1rem;
  }
}
