.hero {
  .hero__container {
    position: relative;
  }

  .hero__title {
    font-size: 4rem;
    margin: 0;
  }

  .hero__description {
    font-size: 1.75rem;
    margin: 0;
  }

  .hero__button {
    margin-top: 1rem;
  }
}

// Hero Full
.hero.hero--full {
  .hero__container {
    padding: 10rem 4rem;
    z-index: 1;
  }

  .hero__title {
    color: var(--white);
    margin: 0;
  }

  .hero__description {
    margin: 0;
    color: var(--white);
  }

  .hero__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: rgba($color: #000000, $alpha: 0.4);
      content: '';
      z-index: 2;
    }
  }

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Hero Split
.hero.hero--split {
  .hero__container {
    display: flex;
  }
  .hero__figure {
    max-width: 50%;
    margin-left: 2rem;
  }
}

.hero.hero--split.hero--left {
  .hero__container {
    flex-direction: row-reverse;
  }
  .hero__figure {
    margin-left: 0rem;
    margin-right: 2rem;
  }
}
