// Global

[data-type='snow-blocks/hero'] .hero__upload {
  border: dashed 2px grey;
  padding: 4rem;
  text-align: center;
}

[data-type='snow-blocks/hero'] .hero {
  textarea {
    background: none;
    margin: 0;
  }

  .hero__button {
    position: relative;
    display: inline-block;
  }

  .hero__button .hero__link {
    position: absolute;
    right: -3rem;

    .block-editor-url-input__button-modal {
      position: absolute;
      top: 0;
      left: 3rem;
    }
  }

  .hero__button .btn.btn--primary {
    line-height: unset;
    padding: 1rem 1rem 0.5rem 1rem !important;

    textarea {
      text-align: center;
    }

    textarea::placeholder {
      color: var(--white);
    }
  }

  .hero__close {
    position: absolute;
    top: 0rem;
    right: 1rem;
    z-index: 3;
  }
}

// Hero Full
[data-type='snow-blocks/hero'] .hero.hero--full {
  textarea {
    color: var(--white);
  }
  textarea::placeholder {
    color: var(--white);
  }
}

// Hero Split
[data-type='snow-blocks/hero'] .hero.hero--split {
  textarea {
    color: var(--black);
  }
  textarea::placeholder {
    color: var(--black);
  }
}
