.btn {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 1.5rem !important;
  text-decoration: none;
  line-height: 0;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px var(--primary-color);
}

.btn--primary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
