:root {
  --blue: blue;
  --red: red;
  --white: white;
  --black: black;
  --grey: #aaa;
  --primary-color: var(--blue);
  --secondary-color: var(--white);
  --shadow: rgba(0, 0, 0, 0.7);
}

.editor-styles-wrapper .wp-block {
  max-width: unset !important;
  margin-left: 2rem;
  margin-right: 2rem;
}

.rounded {
  border-radius: 0.5rem;
}
