:root {
  --blue: blue;
  --white: white;
  --black: black;
  --primary-color: var(--blue);
  --primary-background-color: var(--blue);
  --primary-background-font: var(--white);
  --secondary-background-color: var(--white);
  --secondary-background-font: var(--blue);
}
